#wrapper{
    margin: 20px  auto;
    width: 900px;
    border:4px solid #1cc6f9;
    background-color: #050505;
    overflow: hidden;
    border-radius: 20px;
}
/**NAVBAR**/
.navbar, main{
    width: 900px;
    margin: 0 auto;
   background-color: #050505;
   color:white ;
   border-radius: 10px;
}
#title{
color:#1ac6ef;
text-shadow: 2px 2px 0px #961fcf;
}

/**MAIN**/
main{
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

.text-tr{
    text-decoration: line-through;
}
/**BTN GROUP**/    
#button-group [type=button]{
   border: 2px solid #961fcf;
   margin: 0 10px;
}





:root{
--bs-my-black:#050505;
}